* {
  box-sizing: border-box;
}
body,
html {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
}
.container {
  background-color: teal;
  padding: 2%;
  border-radius: 5px;
}
.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
  color: white;
}
main {
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-area {
  width: 100%;
  display: flex;
  justify-content: center;
}
form {
  width: 95%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.task {
  width: 80%;
}
/* table */
.table-container {
  border: 1px solid #000000;
  border-radius: 10px;
  overflow: hidden;
}
.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.table thead {
  background-color: rgb(124, 255, 255);
  border-radius: 5px;
}

.table th {
  /* border: 1px solid gray; */
  padding: 8px;
  text-align: left;
}
.table td {
  border: none;
  padding: 8px;
  text-align: left;
}

.table th:nth-child(1),
.table td:nth-child(1) {
  width: 5%;
}

.table th:nth-child(2),
.table td:nth-child(2) {
  width: 50%;
}

.table th:nth-child(3),
.table td:nth-child(3) {
  width: 20%;
}

.table th:nth-child(4),
.table td:nth-child(4) {
  width: 25%;
}

.table tbody tr {
  background-color: #f9f9f9;
}

.table tbody tr:hover {
  background-color: #f1f1f1;
}

.table td a {
  margin-right: 10px;
  text-decoration: none;
}
.action {
  display: flex; /* Aktiviert Flexbox für das Container-Element */
  align-items: center; /* Zentriert die Flex-Elemente vertikal */
  justify-content: flex-start; /* Stellt sicher, dass die Flex-Elemente von links nach rechts ausgerichtet sind */
  gap: 10px; /* Fügt einen Abstand zwischen den Buttons hinzu */
  width: 100%; /* Stellt sicher, dass das Element die volle Breite des Containers einnimmt */
  padding: 0; /* Entfernt jegliches Padding */
  margin: 0; /* Entfernt jegliches Margin */
  border: none; /* Entfernt jeglichen Rahmen */
  box-sizing: border-box; /* Inkludiert Padding und Border in die Gesamtbreite und -höhe des Elements */
}
